.card-grid {
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 30px;
    -ms-grid-columns: repeat(6,1fr);
    grid-template-columns: repeat(6,1fr);
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.card-grid .card {
    border: none;
    position: relative;
}

.card .tags a {
    position: absolute;
    right: 20px;
    top: 3px;
    border-radius: 17px;
    padding: 10px 8px;
    color: #fff !important;
}

img {
    width: 100%;
}

.card a:first-of-type {
    color: #000;
    font-weight: bold;
}

.card a:nth-child(2) {
    font-weight: 600;
}

.card {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    text-align: center;
    align-items: center;
}

.card a {
    text-decoration: none;
}

.card img {
    border-radius: 50%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 120px;
    height: 120px;
    object-fit: contain;
}

.link-column {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.title h6 {
    color: #0d6efd;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 30px;
}



@media screen and (max-width: 1440px) {
    .card-grid {
        grid-template-columns: repeat(6,1fr);
    }    
}


@media screen and (max-width: 1280px) {
    .card-grid {
        grid-template-columns: repeat(5,1fr);
    }    
}

@media screen and (max-width: 1024px) {
    .card-grid {
        grid-template-columns: repeat(4,1fr);
    }    
}

@media screen and (max-width: 768px) {
    .card-grid {
        grid-template-columns: repeat(3,1fr);
    }    

}

@media screen and (max-width: 600px) {
    .card-grid {
        grid-template-columns: repeat(3,1fr);
    }    
}

@media screen and (max-width: 600px) {
    .card-grid {
        grid-template-columns: repeat(2,1fr);
    }    
}

@media screen and (max-width: 250px) {
    .card-grid {
        grid-template-columns: 1fr;
    }    
}












